@use '../sass/font' as font;
@use '../sass/variable' as variable;
@use '../sass/mixin' as mixin;

.projects-wrapper{
    @include mixin.wrapper;

    .projects-heading-container{
        @include mixin.container($min-height:100px);
        margin: auto;

        .project-heading{
            @include mixin.heading;
            text-align: center;
        }
    }

    .projects-container{
        @include mixin.container(1300px, auto); 
        margin: auto;
        @include mixin.flexbox(center, center);

        .project-card{
            @include mixin.container(1000px, auto);
            margin: 30px;
            @include mixin.flexbox(space-between, center, row, wrap);

            .project-image{
                max-width: 600px;
            }

            .info-container{
                @include mixin.container(450px, auto);
                
                .project-title{
                    @include mixin.heading;
                    font-size: 30px;
                }

                .project-info{
                    @include mixin.info;
                    font-size: 14px;
                }

                .cta-container{
                    @include mixin.container(450px, 100px);
                    @include mixin.flexbox(space-between, center);
                
                    .cta{
                        @include mixin.cta;
                        width: 180px;
                        height: 45px;
                    }
                }
            }
        }
    }

}

@media screen and (min-width:320px) and (max-width:500px){
    .projects-wrapper{
        @include mixin.wrapper;
    
        .projects-heading-container{
            @include mixin.container($min-height:50px);
            margin: auto;
    
            .project-heading{
                @include mixin.heading;
                font-size: 35px;
                text-align: right;
                padding-right: 20px;
            }
        }
    
        .projects-container{
            @include mixin.container(500px, auto); 
            margin: auto;
            @include mixin.flexbox(center, center);
    
            .project-card{
                @include mixin.container(500px, auto);
                margin-bottom: 10px; 
                padding-right: 20px;
                padding-left: 60px;
                @include mixin.flexbox(space-between, center, column);
    
                .project-image{
                    max-width: 280px;
                }
    
                .info-container{
                    @include mixin.container(500px, auto);
                    
                    .project-title{
                        @include mixin.heading;
                        margin-top: 20px;
                        font-size: 30px;
                        text-align: right;
                    }
    
                    .project-info{
                        @include mixin.info;
                        font-size: 16px;
                        text-align: justify;
                    }
    
                    .cta-container{
                        @include mixin.container(500px, 100px);
                        @include mixin.flexbox(center, center, row, wrap);
                        gap:20px;
                        margin-top: 20px;
                    
                        .cta{
                            @include mixin.cta;
                            width: 120px;
                            height: 45px;

                        }
                    }
                }
            }
        }
    
    }
}

@media screen and (min-width:501px) and (max-width:900px){
    .projects-wrapper{
        @include mixin.wrapper;
    
        .projects-heading-container{
            @include mixin.container($min-height:100px);
            margin: auto;
    
            .project-heading{
                @include mixin.heading;
                text-align: center;
                padding: 0 20px;
                padding-left: 80px;
            }
        }
    
        .projects-container{
            @include mixin.container(900px, auto); 
            margin: auto;
            @include mixin.flexbox(center, center);
    
            .project-card{
                @include mixin.container(900px, auto);
                margin: 10px; 
                padding-right: 20px;
                padding-left: 80px;
                @include mixin.flexbox(space-between, center, column);
    
                .project-image{
                    max-width: 500px;
                    width: 100%;
                    min-height: auto;
                }
    
                .info-container{
                    @include mixin.container(900px, auto);
                    
                    .project-title{
                        @include mixin.heading;
                        margin-top: 20px;
                        font-size: 30px;
                        text-align: center;
                    }
    
                    .project-info{
                        max-width: 500px;
                        margin: 10px auto;
                        @include mixin.info;
                        font-size: 16px;
                        text-align: center;
                    }
    
                    .cta-container{
                        @include mixin.container(650px, 100px);
                        margin: auto;
                        @include mixin.flexbox(space-around, center);
                    
                        .cta{
                            @include mixin.cta;
                            width: 180px;
                            height: 45px;
                        }
                    }
                }
            }
        }
    
    }
}

@media screen and (min-width:901px) and (max-width:1020px){
    .projects-wrapper{
        @include mixin.wrapper;
    
        .projects-heading-container{
            @include mixin.container($min-height:100px);
            margin: auto;
    
            .project-heading{
                @include mixin.heading;
                text-align: center;
            }
        }
    
        .projects-container{
            @include mixin.container(1000px, auto); 
            margin: auto;
            @include mixin.flexbox(center, center);
    
            .project-card{
                @include mixin.container(1000px, auto);
                margin: 10px; 
                padding: 20px;
                @include mixin.flexbox(center, center, row, wrap);
                
                .project-image{
                    max-width: 500px;
                    margin:20px;
                }
    
                .info-container{
                    @include mixin.container(500px, auto);
                    
                    .project-title{
                        @include mixin.heading;
                        margin-top: 20px;
                        font-size: 30px;
                    }
    
                    .project-info{
                        @include mixin.info;
                        font-size: 16px;
                        text-align: justify;
                    }
    
                    .cta-container{
                        @include mixin.container(900px, 100px);
                        @include mixin.flexbox(space-around, center);
                    
                        .cta{
                            @include mixin.cta;
                            width: 180px;
                            height: 45px;
                        }
                    }
                }
            }
        }
    
    }
}