@use '../sass/font';
@use '../sass/variable';
@import '../sass/mixin';

.footer-wrapper{
    @include wrapper($min-height:auto);
    background: linear-gradient(to left, white, rgb(33, 198, 200));

    .content-container{
        @include container($min-height:230px);
        @include flexbox(center, center, column);
        margin:auto;
        margin-top:30px;

        .text{
            @include flexbox(center, center, column);
            img{
                width: 300px;
            }

            .info{
                @include info;
            }
        }

        .icons-container{
            @include container(200px, 50px);

            .hero-icons{
                @include flexbox(space-around, center, row);
                
                .hero-icon{
                    color: variable.$color-primary;
                    transition: color 0.3s ease;

                    &:hover {
                        transform: scale(1.15);
                        color: variable.$color-hover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .footer-wrapper{
       
        .content-container{
            @include container($min-height:230px);
            @include flexbox(center, center, column);
            margin:auto;
            border: 1px solid black;
            margin-top:30px;
            padding-left: 60px;
    
            .text{
                @include flexbox(center, center, column);
                img{
                    width: 200px;
                }
    
                .info{
                    @include info;
                    width: 250px;
                    text-align: center;
                }
            }
    
            .icons-container{
                @include container(200px, 50px);
    
                .hero-icons{
                    @include flexbox(space-around, center, row);
                    
                    .hero-icon{
                        color: variable.$color-primary;
                        transition: color 0.3s ease;
    
                        &:hover {
                            transform: scale(1.15);
                            color: variable.$color-hover;
                        }
                    }
                }
            }
        }
    }
}