@use '../sass/font' as font;
@use '../sass/variable' as variable;
@use '../sass/mixin' as mixin;

.contact-wrapper{
    @include mixin.wrapper($min-height:500px);

    .contact-container{
        @include mixin.container(1100px, 500px);
        @include mixin.flexbox(space-between, center, row, wrap);
        margin: auto;
        

        .contact-container-text{
            @include mixin.container(500px, auto);
            .contact-heading{
                @include mixin.heading;
                margin-bottom: 30px;
                padding-left: 20px;
            }

            .info{
                @include mixin.info;
                padding-left: 20px;
            }
        }

        .form-container{
            @include mixin.container(500px, 420px);
            display: flex;
            padding-right: 20px;

            form{
                @include mixin.flexbox(space-between, flex-start, column);

                label{
                    @include mixin.info;
                    font-size: 16px;
                }

                input{
                    @include mixin.info;
                    padding-left: 10px;
                    width: 480px;
                    font-size: 14px;
                    border:none;
                    border-bottom: 1px solid variable.$color-primary;
                }

                textarea{
                    @include mixin.info;
                    padding-left: 10px;
                    font-size: 14px;
                    width: 480px;
                    height: 100px;
                    resize: none;
                    border: 1px solid variable.$color-primary;
                    
                }

                .submit{
                    @include mixin.cta;
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:500px){
    .contact-wrapper{
        .contact-container{
            @include mixin.container(500px, 100px);
            margin: auto;
    
            .contact-container-text{
                @include mixin.container(500px, auto);
                @include mixin.flexbox(center, center, column);
                
                .contact-heading{
                    @include mixin.heading;
                    margin-bottom: 30px;
                    text-align: right;
                    padding: 0 20px;
                    padding-left: 80px;
                    font-size:30px;
                }
    
                .info{
                    @include mixin.info;
                    padding: 0 20px;
                    padding-left: 80px;
                    text-align: justify;
                    margin-bottom: 30px;
                }
            }
    
            .form-container{
                @include mixin.container(480px, 420px);
                display: flex;
                padding: 0 20px;
                padding-left: 80px;
    
                form{
                    @include mixin.flexbox(space-between, flex-start, column);
                    @include mixin.container(480px, 420px);
                    label{
                        @include mixin.info;
                        font-size: 16px;
                    }
    
                    input{
                        @include mixin.info;
                        padding-left: 10px;
                        padding-right: 20px;
                        max-width: 480px;
                        min-height: auto;
                        width: 100%;
                        font-size: 14px;
                        border:none;
                        border-bottom: 1px solid variable.$color-primary;
                    }
    
                    textarea{
                        @include mixin.info;
                        padding-left: 10px;
                        font-size: 14px;
                        max-width: 480px;
                        min-height: auto;
                        width: 100%;
                        resize: none;
                        border: 1px solid variable.$color-primary;
                        
                    }
    
                    .submit{
                        @include mixin.cta;
                        margin-top: 20px;
                        max-width: 380px;
                        min-height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:501px) and (max-width:999px){
    .contact-wrapper{
        .contact-container{
            @include mixin.container(800px, 100px);
            margin: auto;
    
            .contact-container-text{
                @include mixin.container(800px, auto);
                @include mixin.flexbox(center, center);
                
                .contact-heading{
                    @include mixin.heading;
                    margin-bottom: 30px;
                    text-align: center;
                    padding: 0 20px;
                    padding-left: 80px;
                }
    
                .info{
                    @include mixin.info;
                    padding: 0 20px;
                    padding-left: 80px;
                    text-align: justify;
                    margin-bottom: 30px;
                }
            }
    
            .form-container{
                @include mixin.container(800px, 420px);
                display: flex;
                padding: 0 20px;
                padding-left: 80px;
    
                form{
                    @include mixin.flexbox(space-between, center, column);
                    @include mixin.container(800px, 420px);
                    gap:20px;

                    label{
                        @include mixin.info;
                        font-size: 16px;
                    }
    
                    input{
                        @include mixin.info;
                        padding-left: 10px;
                        padding-right: 20px;
                        max-width: 800px;
                        min-height: auto;
                        width: 100%;
                        font-size: 14px;
                        border:none;
                        border-bottom: 1px solid variable.$color-primary;
                    }
    
                    textarea{
                        @include mixin.info;
                        padding-left: 10px;
                        font-size: 14px;
                        max-width: 500px;
                        min-height: auto;
                        width: 100%;
                        resize: none;
                        border: 1px solid variable.$color-primary;
                        
                    }
    
                    .submit{
                        @include mixin.cta;
                        margin-top: 20px;
                        max-width: 500px;
                        min-height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}