@use '../sass/font';
@use '../sass/variable';
@import '../sass/mixin';

.header{
    @include wrapper($min-height: 80px);
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid variable.$color-primary;

    .nav{
        @include container(1300px, 80px);
        @include flexbox(space-between, center, row, wrap);
        margin: auto;
     
        .logo{
            @include container(250px, 50px);

            img{
                width: 200px;
            }
        }

        .link-container{
            @include container(800px, 50px);
            @include flexbox(space-between, center, row);

            
            .link{
                @include link;
            }

            .contact{
                border: 1px solid variable.$color-primary;
            }
        }
    }
}