@use '../sass/font';
@use '../sass/variable';
@import '../sass/mixin';

.header{
    @include wrapper($min-height: 80px);
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.205);

    .nav{
        @include container(1300px, 80px);
        @include flexbox(space-between, center, row, wrap);
        margin: auto;
     
        .logo{
            @include container(250px, 50px);

            img{
                width: 200px;
            }
        }

        .link-container{
            @include container(600px, 80px);
            @include flexbox(space-between, center, row);
            
            .link{
                @include link;
                cursor:pointer;
            }

            .contact{
                border: 1px solid variable.$color-primary;
            }
        }
    }
}

@media screen and (max-width:900px){
    .header{
        max-width: 50px;
        min-height: 100vh;
        .nav{
            @include container(50, 80px);
            @include flexbox(space-between, flex-start, column);
            margin: auto;
            z-index: 100;
         
            .logo{
                display:none;
                img{
                    width: 200px;
                }
            }
    
            .link-container{
                @include container(60px, auto);
                @include flexbox(flex-start, center);
                writing-mode: vertical-lr;
                
                .contact{
                    border: none
                }
            }
        }
    } 
}