@use '../sass/font' as font;
@use '../sass/variable' as variable;
@use '../sass/mixin' as mixin;

.header{
    @include mixin.wrapper($min-height: 80px);
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.205);

    .nav{
        @include mixin.container(1300px, 80px);
        @include mixin.flexbox(space-between, center, row, wrap);
        margin: auto;
     
        .logo{
            @include mixin.container(250px, 50px);

            img{
                width: 200px;
            }
        }

        .link-container{
            @include mixin.container(600px, 80px);
            @include mixin.flexbox(space-between, center, row);
            
            .link{
                @include mixin.link;
                cursor:pointer;

                &:hover{
                    background-color: variable.$background-hover;
                    color: variable.$text-inverse;
                }
            }

            .contact{
                border: 1px solid variable.$color-primary;
            }
        }
    }
}

@media screen and (max-width:900px){
    .header{
        max-width: 50px;
        min-height: 100vh;
        z-index:0;
        .nav{
            @include mixin.container(50px, 80px);
            @include mixin.flexbox(space-between, flex-start, column);
            margin: auto;
         
            .logo{
                display:none;

                img{
                    width: 200px;
                }
            }
    
            .link-container{
                @include mixin.container(50px, auto);
                @include mixin.flexbox(flex-start, center);
                writing-mode: vertical-lr;
                
                .link{
                    @include mixin.link;
                    cursor:pointer;
                    padding:30px 10px;
                }
                

                .contact{
                    border: none
                }
            }
        }
    } 
}